<!DOCTYPE html>

<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello chatbot</title>
</header>

<body>
    <h1>Hello chatbot!</h1>
    <div>
        <button onclick="setupProfile()">Setup Messenger Profile</button>
    </div>

    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <div id="fb-customer-chat" class="fb-customerchat" attribution="setup_tool"
        logged_in_greeting="Salut, comment est-ce que je peux t'aider"
        logged_out_greeting="Salut, comment est-ce que je peux t'aider"></div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", '<%= process.env.PAGE_ID %>');
    </script>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '<%= process.env.FACEBOOK_APP_ID %>',
                autoLogAppEvents : true,
                xfbml: true,
                version: 'v17.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>

<script>
    async function setupProfile() {
        console.log("click setup");
        const res = await fetch("/setup-profile", {
            method: 'POST'
        });
        console.log("setup response: ", res);
        if (res.status === 200) {
            alert("Setup profile success");
        } else {
            alert("Unable to setup profile");
        }
    }
</script>

</html>